<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catfilm.springboot.dao.mapper.FilmDetailTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.catfilm.springboot.dao.entity.FilmDetailT">
        <id column="UUID" property="uuid" />
        <result column="film_id" property="filmId" />
        <result column="film_en_name" property="filmEnName" />
        <result column="film_score" property="filmScore" />
        <result column="film_score_num" property="filmScoreNum" />
        <result column="film_length" property="filmLength" />
        <result column="biography" property="biography" />
        <result column="director_id" property="directorId" />
        <result column="film_imgs" property="filmImgs" />
    </resultMap>

    <select id="getDirectInfoByFilmId" parameterType="string" resultType="com.catfilm.springboot.controller.film.vo.respones.filmDetail.FilmActorRespVo">
        SELECT
            act.`actor_img` imgAddress,
            act.`actor_name` directorName
        FROM film_detail_t detail LEFT JOIN film_actor_t act
        ON  detail.director_id=act.uuid
        WHERE detail.`film_id`=#{filmId}
    </select>
</mapper>
